*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --clr-black: #252422;
  --clr-white: #f4f4f4;
  --clr-pink: #f9cdcd;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--clr-white);
  position: relative;
  overflow-x: hidden;
}

main {
  position: relative;
  background-color: inherit;
  color: inherit;
  transition: all 0.5s ease-in-out;
}

.padding-wrapper {
  padding-inline: 5rem;
}

section {
  margin-bottom: 7.6rem;
}

a {
  text-decoration: none;
}

.highlight {
  font-weight: bold;
}

.dark-mode {
  background-color: var(--clr-black);
  color: var(--clr-pink);
}

/* Preloader */

.preloader {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25rem;
  background-color: var(--clr-white);
  z-index: 100;
  transition: top 5s ease-out;
}

.hidden {
  top: -100%;
}

/* Hero */

.hero {
  position: relative;
  height: 100vh;
  cursor: none;
  /* isolation: isolate; */
  overflow: hidden;
}

.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Work */

.work__description {
  display: flex;
  margin-bottom: 12rem;
}

.description__text,
.brand {
  flex: 0 0 50%;
}

.description__text p {
  font-size: 3.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 25rem;
  font-weight: bold;
  text-align: right;
  line-height: 0.75;
}

.case-studies {
  display: flex;
  gap: 2rem;
}

.case-studies:first-child > .study__img-container img {
  object-position: bottom;
}

.study {
  flex: 1 1;
  text-transform: uppercase;
}

.study:hover h4 {
  border-bottom: 0.1rem solid var(--clr-black);
}

.study:hover img {
  scale: 1.08;
}

.study__img-container {
  overflow: hidden;
  height: 75rem;
  margin-bottom: 2rem;
}

.study__img-container img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  scale: 1.16;
  transition: 0.3s linear;
}

.study h4 {
  display: inline-block;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid transparent;
  transition: 0.3s ease-in-out;
}

.study p {
  font-size: 1.4rem;
  width: 45ch;
}

/* Engagements */

.art-thing {
  margin-bottom: 7.2rem;
}

.art-thing figure {
  width: 100%;
  height: 0.1rem;
  background-color: var(--clr-black);
}

.art-thing__numbers {
  display: flex;
}

.numbers__01 {
  flex-grow: 1;
}

.numbers__02 {
  flex-grow: 2;
}

.engagements h2 {
  font-size: 4.8rem;
  margin-bottom: 9rem;
}

.featured-container {
  display: grid;
  grid-auto-columns: 23%;
  grid-auto-flow: column;
  gap: 15rem;
  overflow: scroll;
  scrollbar-color: var(--clr-black) var(--clr-white);
}

.featured__logo {
  font-size: 3.6rem;
  position: relative;
  margin-bottom: 10rem;
}

.featured__logo:after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--clr-black);
}

.featured__text h5 {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.featured__text p {
  font-size: 1.6rem;
}

/* About */

.about {
  display: flex;
  gap: 5rem;
}

.about__text-container {
  flex: 1 1 50%;
  text-transform: uppercase;
}

.sticky {
  position: sticky;
  top: 0;
}

.about__text-container h2 {
  font-size: 12rem;
  line-height: 1;
  margin-bottom: 4rem;
}

.about__text-container p {
  font-size: 2.1rem;
  margin-bottom: 12rem;
}

.video-container {
  flex: 1 1 50%;
  overflow: hidden;
}

/* News */

.news header {
  display: flex;
}

.news header h3 {
  flex-grow: 1;
}

.article {
  display: flex;
  gap: 3rem;
  padding: 2rem 0 5rem;
  border-top: 0.1rem solid var(--clr-black);
}

.article:hover .article__text-title {
  text-decoration: underline;
}

.article:hover .img-container img {
  scale: 1.08;
}

.img-container {
  flex: 0 1 30%;
  overflow: hidden;
}

.img-container img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  scale: 1.16;
  transition: 0.3s ease-in-out;
}

.article__text {
  position: relative;
  flex: 1 1 auto;
  text-transform: uppercase;
  color: var(--clr-black);
}

.article__text-title {
  font-size: 4.8rem;
  width: 30ch;
  transition: 0.3s ease-in-out;
}

.article__text-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.6rem;
}

.article__text-desc {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
}

/* Footer */

footer {
  width: 100vw;
  transform: translateX(-5rem);
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.footer__main-nav {
  padding-block: 10rem;
  padding: 10rem 25rem 10rem 5rem;
}

.row {
  display: flex;
}

.row:first-child {
  margin-bottom: 15rem;
}

.row > * {
  flex: 1 1 50%;
}

.row h4 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.row p {
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 12rem;
}

label {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.inline {
  display: flex;
  gap: 1rem;
  color: var(--clr-white);
  border-bottom: 0.1rem solid var(--clr-white);
}

input {
  flex: 1 1 auto;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding-block: 1.5rem;
  caret-color: var(--clr-white);
}

input::placeholder {
  text-transform: capitalize;
  color: rgba(180, 180, 180, 0.45);
}

.form__btn {
  background: transparent;
  border: none;
  outline: none;
  color: var(--clr-white);
  font-size: 2.4rem;
  cursor: pointer;
}

.footer__dot {
  display: inline-block;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-white);
  margin-right: 1rem;
}

.footer__links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer__links-list li > p {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer__links {
  list-style: none;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.footer__legal-nav {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
  padding-inline: 5rem;
  background-color: rgba(0, 0, 0, 0.219);
  text-transform: uppercase;
}

.footer__legal-link {
  color: var(--clr-white);
}
